body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header{
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
}

.logo{
  color: #f9faf8;
  font-size: 24px;
  margin: 10px;
  font-weight: 600;
}

.links a{
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
  margin: 10px;
}

.firstSection {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  padding: 0px 70px;
  
}

.content {
  padding: 50px;
 
}

.content h1{
  color: #f9faf8;
  font-size: 48px;
}

.content p{
  color: #e5e7eb;
  font-size: 18px;
}

.content button{
  background-color: #3882f6;
  border: #1f2937;
  color: #e5e7eb;
  width: 120px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 8px;
}

.image {
  padding-left: 90px;
}

.secondSection {
 display: flex;
 align-items: center;
 flex-direction: column;
}

.secondSection h1{
  color: #1f2937;
  font-size: 36px;
  padding: 20px;
}

.information{
  display: flex;
  margin: 0px 100px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 250px;
  margin-bottom: 80px;
  
}

.item p{
 text-align: center;
 font-size: 13px;
}

.illustration{
  border: 3.5px solid #3882f6;
  border-radius: 10%;
  height: 150px;
  width: 150px;

}

.quoteSection {
  background-color: #e5e7eb;

}

.quoteSection p{
  color: #1f2937;
  font-style:italic;
  font-size: 36px;
  padding: 0px 250px;
  padding-top: 40px;
  
}

.quoteSection h6{
  font-weight: bolder;
  font-size: larger;
  text-align: right;
  margin-right: 360px;
  margin-bottom: 100px;
}

.signupSection{
  background-color: #3882f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 120px;
  margin: 80px 240px;
  border-radius: 8px;
}

.callToAction h3{
  color: #f9faf8;
}

.callToAction p{
  color: #e5e7eb;
}

.signupSection button{
  background-color: #3882f6;
  color: #e5e7eb;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  padding: 8px 24px;
  font-weight: bold;
}

footer{
  background-color: #1f2937;
  color: #e5e7eb;
  text-align: center;
  font-size: small;
  padding: 20px 60px;

}